

.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;


}
.dialogsItems{
    padding: 10px;
    color: palevioletred;
    text-decoration: none;

}

.dialogsItems .active{
    color: gold;
}

.dialog{

    text-decoration: none;

}

.messages{
    padding: 10px;

}


.message{
    color: white;

}
